footer{
    color: #6e6e73;
    background-color: #f5f5f7;
    font-size: 12px;
}
.contentFooter{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1rem;
}
.contentFooter li{
    list-style: none;
}
.linkFooter{
    color: #424245;
    text-decoration: underline;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.category nav{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 0.8rem;
}
.category nav a{
    color: #424245;
    text-decoration: none
}
.category nav a:hover{
    text-decoration: underline;
}

.linkFinal{
    color: #06c;
}

.policyLinks {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
}

.policyLinks:hover{
    cursor: pointer;
}

.policyLinks p{
    color: #424245;
    text-decoration: none;
}
.policyLinks .border{
    border-left: 1px solid #6d6d6d;
    padding: 0 0.5rem;
   
}



.descricao{
    border-bottom: 1px solid #d2d2d7;
    
    

    display: flex;
    align-items: center;
}
.descricao h1{
    font-weight: 100;
    line-height: 2rem;
}
.descricao ion-icon{
    position: absolute;
    left: 22rem;
    transition: 0.5s;
}
.active ion-icon{
    transform: rotate(45deg);
}
.linksResp{
    display: none;
   
    transition: 0.5s;
    
}
.linksResp a{
    color: #424245;
    text-decoration: none
}
.linksResp a:hover{
    text-decoration: underline;
}
.active .linksResp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
    gap: 1rem;
}


