footer{
    color: #6e6e73;
    background-color: #f5f5f7;
    font-size: 12px;
}
.contentFooter{
    padding: 1rem 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contentFooter li{
    list-style: none;
}
.linkFooter{
    color: #424245;
    text-decoration: underline;
}

.linksNavs{
    display: flex;
    gap: 2rem;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.category nav{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.8rem;
}
.category nav a{
    color: #424245;
    text-decoration: none
}
.category nav a:hover{
    text-decoration: underline;
}


