header{
    position: relative;
    background-color:  rgba(22, 22, 23, .8);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    position: fixed;
}

.contentHeader{
    padding: 0.8rem;
}

.listDesktop{
    list-style: none;
    font-size: 0.74rem;
    display: flex;
    justify-content: center;
    gap: 3.3rem;
    align-items: center; 
}
    
li a{
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    transition: 0.5s;
}
li a:hover{
    color: white;
}
ion-icon{
    font-size: 1.2rem;
}
