header{
    position: relative;
    background-color:  rgba(22, 22, 23, .8);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    position: fixed;
    z-index: 1000; 
}

.mobile{
    display: none;
}

.contentHeader{
    padding: 0.7rem;
}
.listMobile{
    list-style: none;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    gap: 2.8rem;
    align-items: center; 
}
.listDesktop{
    list-style: none;
    font-size: 11px;
    
    display: flex;
    justify-content: center;
    gap: 2.8rem;
    align-items: center; 
}
    
li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
header li a:hover{
    color: white;
}
ion-icon{
    font-size: 1.1rem;
}
