@media only screen and (max-width: 1030px){
    .listDesktop{
        display: none;
    }
    .apresentationIphonePro{
        background: url("../img/hero_iphone14pro_spring__9xo85pm6sbmm_mediumtall.jpg") no-repeat center;
        background-size: cover;
        width: 100vw;
    }
    .mobile{
        display: block;
    }
    .productLine{
        flex-direction: column;
    }
    .mobileItem{
        display: block;
    }
    .policyLinks{
       
    }
    .linksNavs{
        display: none;
    }
    .copyright{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
    }

    .copyright a{
        
        position: relative;
        right: 84vw;
        top: 0.5rem;
    }
    .line{
        display: none;
    }
    
    footer{
        padding: 1rem 2rem;
    }

    .linkNavsResp{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .infoSection{
        display: none;
    }
 
}

@media screen and (min-width: 1030px){
    .linksNavs{
        display: flex;
        gap: 2.5rem;
    }
    .copyright{
        display: flex; 
        margin-top: 0.5rem;
    }
    .linkNavsResp{
        display: none;
    }
    .mobileItem{
        display: none;
    }
    .mobile{
        display: none;
    }
    
}

@media only screen and (min-width: 1031px){
    .product{
        width: 100vw;
    }
}
