@media only screen and (max-width: 1030px){
    .listDesktop{
        display: none;
    }
    .apresentationIphonePro{
        background: url("img/hero_iphone14pro_spring__9xo85pm6sbmm_mediumtall.jpg") no-repeat center;
        background-size: cover;
        width: 100vw;
    }
    .mobile{
        display: block;
    }
    .productLine{
        flex-direction: column;
    }
 
}

@media only screen and (min-width: 1031px){
    .product{
        width: 100vw;
    }
}